.contact-popup-btn {
    width: 60px;
    height: 60px;
    background-color: #85888b;
    position: fixed;
    top: calc(80% - 60px);
    left: 0px;
    z-index: 9999;
    cursor: pointer;
    text-align: center;
    transition: 0.3s all;
    @media(max-width: 1055px){
        left: auto;
        right: 0px;
    }
    i {
        color: #fff;
        line-height: 58px;
        font-size: 30px;
    }
    &:hover {
        background-color: #626262;
    }
}

// POPUP
.popup-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(147, 150, 154, 0.8);
    opacity: 0;
    transition: 0.6s all;
    z-index: -1;
    &.active {
        z-index: 100000;
        opacity: 1;
        .popup {
            bottom: -50%;
            opacity: 1;
        }
    }
    .popup {
        max-width: 1240px;
        max-height: 95%;
        overflow: auto;
        margin: 0px;
        width: 95%;
        background-color: #fff;
        position: relative;
        bottom: -100%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 4px;
        padding: 50px 50px 25px 50px;
        transition: 0.4s all;
        opacity: 0;
        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        &::-webkit-scrollbar-thumb {
            background-color: #FF3300;
        }
        .contnet {
            display: flex;
            justify-content: space-between;
            padding-top: 35px;
            padding-bottom: 0px;
            @media(max-width: 767px) {
                flex-wrap: wrap;
            }
            h3 {
                margin-top: 0px;
            }
            .description {
                width: auto;
                padding-right: 30px;
                @media(max-width: 480px) {
                    text-align: left;
                }
                p {
                    margin-bottom: 55px;
                }
            }
            .form-wrapper {
                max-width: 680px;
                width: 100%;
                padding-right: 30px;
            }
        }
        .close-btn {
            position: absolute;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            background-color: #FF3300;
            top: 21px;
            right: 23px;
            text-align: center;
            cursor: pointer;
            transition: 0.3s color;
            z-index: 1000;
            i {
                color: #fff;
                line-height: 32px;
                font-size: 22px;
                display: inline-block;
            }
        }
    } // FORMS
    .widget-type-form form {
        height: 600px;
        input.hs-input,
        textarea,
        select {
            border-bottom: 1px solid #d6d5d5;
            color: hubl("$main_font_color");
            min-height: 52px;
            padding-left: 29px;
            outline: none;
            border-radius: 0px;
        }
        textarea {
            min-height: 160px;
            padding-top: 25px;
            margin-top: 0px;
        }
        input[type="submit"] {
            min-height: 55px;
            min-width: 165px;
            background-color: #FF3300;
            border-color: #FF3300;
            color: #fff;
        }
        .hs-error-msgs {
            list-style: none;
            padding-left: 0;
            margin: 0px 0px 10px 0px;

            li {
                padding-left: 0;
                margin-bottom: 0;
                margin-left: 0px;
                &:first-child {
                    margin-left: 0px;
                }

                a,
                label {
                    color: hubl("$main_font_color");
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }
}