form.hs-form{
            .inputs-list{
            	list-style:none!important;
                li{
                    label{
                        position:relative;
                    }
                }
            }
            .hs-form-field .input input[type="checkbox"].hs-input {
                    height:25px;
                    visibility: hidden;
                    +span {
                    	padding-left:9px;
                        &:before {
                            cursor: pointer;
							content: "";
							position: absolute;
							top: 50%;
							left: 0px;
							display: block;
							width: 16px;
							height: 16px;
							font-family: "FontAwesome";
							background-color: transparent;
							transform: translateY(-50%);
							border-radius: 5px;
                              border: 1px solid #e5e5e5;
                        }
                        &:after{
                            cursor: pointer;
                            content: "\f096";
                            content: '';
						    position: absolute;
						    top: 50%;
						    left: 0px;
						    display: block;
						    color: #e0e0e0;
						    width: 16px;
                            height: 16px;
                            color: #fff;
                            border-radius: 5px;
                            font-size: 12px;
                            text-align: center;
                            line-height: 16px;
						    font-family: "FontAwesome";
						    transform: translateY(-50%);
                        }
                    }
                    &:checked {
                        +span {
                            &:before {
                                border-color: transparent;
                            }
                            &:after {
                                content: "\f00c";
                                background-color: hubl("$cta_background");
                            }
                        }
                    }
                }

	    .hs-form-field .input input[type="radio"].hs-input {
        position: relative;
        height: 25px;
        width: 15px;
        top: -6px;
        margin-right: 8px;
        visibility: hidden;
        +span {
            &:before {
                // content: "\f1db";
                cursor: pointer;
                content: '';
                font-family: FontAwesome;
                background-image: none;
                color: #e5e5e5;
                position: absolute;
                background-position: center;
                left: -1px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 19px;
                background-color: #FFF;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                line-height: 0.9;

                border: 1px solid #e5e5e5;
            }
            &:after {
                // content: "\f111";
                 cursor: pointer;
                content: '';
                font-family: FontAwesome;
                background-image: none;
                color: #e5e5e5;
                position: absolute;
                background-position: center;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #e5e5e5;
                left: 3px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 7px;
            }
        }
        &:checked {
            +span {
                &:before {
                    color: hubl("$cta_background");
                    border-color: hubl("$cta_background");
                }
                &:after {
                    color: hubl("$cta_background");
                    background-color: hubl("$cta_background");
                }
            }
        }
    }

}