    .page-404-body {
    	background-color: #fbfbfb;
    }
    .page-404 {
        display: none;
        margin-top: 210px;
        margin-bottom: 225px;
        h1 {
            font-size: 106px;
            color: hubl("$first_color");
            font-weight: 600;
            text-align: left;
            margin-bottom: 7px;
        }
        h2 {
            font-size: 42px;
            color: hubl("$main_font_color");
            font-weight: 600;
            text-align: left;
            margin-bottom: 33px;
            text-transform: initial;
            letter-spacing: 0.04em;
            span {
                letter-spacing: 3px;
            }
        }
        p {
            text-align: left;
            font-size: 16px;
            line-height: 25px;
            color: #626262;
            font-weight: 300;
            margin-bottom: 62px;
        }
        img {
            margin-top: 60px;
            max-width: none;
            @media (max-width: 1024px) {
               width: 100%!important;
                max-width: 400px;
            }
            @media (max-width: 767px) {
				margin-left: 0;
            }
        }
        .widget-type-linked_image {
            text-align: center;
        }
        @media (max-width: 767px) {
            margin-top: 40px;
            margin-bottom: 125px;
        }
    }
