.about-me {
	.hero-banner {
		//height: 500px;
		//background-size: cover;
		//display: flex;
		//justify-content: center;
		//align-items: center;
		//text-align: center;
		//color: #fff;
		//margin-top: 70px;
		margin-bottom: 0;
        //h1{
            //strong{
             //   color: $mainColor;
           // }
       // }
	}
	.about-me-separator {
		min-height: 160px;
		background-color: #fff;
		.span12.widget-span.widget-type-cell .row-fluid-wrapper.row-depth-1.row-number-8 .row-fluid {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 50px 0;
			@media (max-width: 767px) {
				flex-direction: column;
			}		
			.widget-type-text {
				span {
					color: $mainColor;
					font-size: 34px;
					text-transform: uppercase;
					letter-spacing: 4px;
				}
			}
		}	
	}
}