/* #SECTION-SQUARE-BOXES */
.square-boxes-section {
	position: relative;
	width: 100%;
	float: left;
	margin-top: -200px;
	&.home-boxes {
		margin-top: -170px;
	}

	.hs_cos_wrapper_widget_container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: stretch;
	}

	.hs_cos_wrapper_type_custom_widget {
		width: 25%;
		max-width: 400px;
		border-radius: 5px;
		background: hubl("$first_color");

			.square-box {
				border-radius: 5px;
				background: hubl("$first_color");
			
				.mask {
					background-color: rgba(255, 255, 255, 0);
				}

				.icon {
					color: #fff;
					font-size: 40px;
				}

			}

			&:nth-child(2) {
				.square-box {
					.mask {
						background-color: rgba(255, 255, 255, .1);
					}
				}
			}

			&:nth-child(3) {
				.square-box {
					.mask {
						background-color: rgba(255, 255, 255, .2);
					}
				}
			}

			&:nth-child(4) {
				.square-box {
					.mask {
						background-color: rgba(255, 255, 255, .3);
					}
				}
			}

		// &:nth-child(1) {
		// 	border-radius: 4px;
		// 	background: hubl("$first_color");
		// 	.square-box {
		// 		background: hubl("$first_color");
		// 	}
		// }
		// &:nth-child(2) {
		// 	border-radius: 5px;
		// 	//te kolory maja tak zostac, wyliczone z //razorjam.github.io/sasscolourfunctioncalculator/
		// 	background: lighten(adjust-hue(hubl("$first_color"), -3.2605), 14.3137);
		// 	.square-box {
		// 		background: lighten(adjust-hue(hubl("$first_color"), -3.2605), 14.3137);
		// 	}
		// }
		// &:nth-child(3) {
		// 	border-radius: 5px;
		// 	background: lighten(adjust-hue(hubl("$first_color"), -3.0502), 18.0392);

		// 	.square-box {
		// 		background: lighten(adjust-hue(hubl("$first_color"), -3.0502), 18.0392);
		// 	}
		// }
		// &:nth-child(4) {
		// 	border-radius: 5px;
		// 	background: lighten(adjust-hue(hubl("$first_color"), -2.9670), 21.3725);
		// 	.square-box {
		// 		background: lighten(adjust-hue(hubl("$first_color"), -2.9670), 21.3725);

		// 	}
		// }
	}
}





/* #SECTION-LEAD */
.lead-section {
	&__image {
		position: relative;
		
		img {
			border-radius: 4px;
			width: 100%;
			box-shadow: 30px 30px 0 hubl("$first_color");
		}
	}
}





/* #SECTION-FEATURES-MOCUP */
.features-mocup-section {
	position: relative;
	width: 100%;
	float: left;
	padding-top: 70px;
	padding-bottom: 70px;
	background: hubl("$first_color");
}





/* #SECTION-PRICING-TABLES */
.pricing-tables-section {
	position: relative;
	width: 100%;
	float: left;
	padding-top: 50px;
	padding-bottom: 160px;

	.pricing-box__container {
		.widget-span {
			.hs_cos_wrapper_widget_container {
				padding-top: 40px;
				padding-bottom: 0;
			}
		}

	}
}

.main .homeslider {
	height: 100vh;
	overflow: hidden;
	min-height: 600px;
}



@media (max-width : 991px) {
    .square-boxes-section {
		margin-top: 50px;
		top: 0;

		.hs_cos_wrapper_type_custom_widget {
			width: 50%;

		}
	}
}



@media (max-width : 767px) {
	.square-boxes-section {

		&.home-boxes {
			margin-top: 50px;
		}

		.hs_cos_wrapper_widget_container {
			display: block;
		}

		.hs_cos_wrapper_type_custom_widget {
			width: 100%;
			margin: auto;
		}
	}

}