.homepage {
    .services{
        .box-services {
            h3{
                text-transform: uppercase;
                letter-spacing: 0.04em;
            }
        }
    }
    .portfolio {
        background-color: hubl("$first_color");
        width: 100%;
        padding-bottom: 8px;
        .flex-wrap{
            .row-fluid{
                display: flex;
                align-items: center;
            }
        }
        .row-fluid .span3 {
            width: 25%;
            margin: 0px;
        }
        h2 {
            font-size: 34px;
            margin: 45px 0px 45px 0px;
            color: #fff;
            font-weight: 300;
            letter-spacing: 0.04em;
        }
        .button {
            margin: 38px 0px 38px 0px;
            width: 100%;
            padding-bottom: 8px;
            &:hover {
                background-color: #fff;
                color: hubl("$cta_background");
            }
        }
        .boxes {
            width: 100%;
            padding-bottom: 8px;
            a.box {
                width: 100%;
                height: 254px;
                display: block;
                background-size: cover;
                background-position: center;
                position: relative;
                overflow: hidden;
                .shadow {
                    background-color: hubl("$first_color");
                    opacity: 0;
                    height: 100%;
                    width: 100%;
                    -webkit-transition: all 0.3s linear;
                    -o-transition: all 0.3s linear;
                    transition: all 0.3s linear;
                }
                h3 {
                    position: absolute;

                    top: 300px;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    margin: auto;
                    height: 40px;
                    text-align: center;
                    color: #fff;
                    font-size: 29px;
                    font-weight: 300;
                    -webkit-transition: all 0.3s linear;
                    -o-transition: all 0.3s linear;
                    transition: all 0.3s linear;
                }
                &:hover {
                    .shadow {
                        opacity: 0.63;
                        -webkit-transition: all 0.3s linear;
                        -o-transition: all 0.3s linear;
                        transition: all 0.3s linear;
                    }
                    h3 {
                        top: 0px;
                        -webkit-transition: all 0.3s linear;
                        -o-transition: all 0.3s linear;
                        transition: all 0.3s linear;
                    }
                }
            }
        }
    }
    .product-cta {
        width: 100%;
        height: 100%;
        background-size: cover;
        overflow: hidden;
        .product {
            .container.position {
                position: relative;
            }
            .row-fluid {
                display: flex;
                .span5 {
                    position: relative;
                    img {
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
            h2 {
                text-align: left;
                font-weight: 300;
                font-size: 40px;
                margin: 78px 0px 45px 0px;
                color: #fff;
                letter-spacing: 0.04em;
                text-transform: none;
                span{
                    letter-spacing: 3px;
                }
            }
            .text {
                max-width: 550px;
                color: #fff;
                margin-bottom: 35px;
            }
            a.button {
                display: inline-block;
                margin-bottom: 85px;
            }
        }
    }
    // DETECT IOS
    .ios-device{
        background-attachment: scroll!important;

    }
    // 
    .skills {
        background-color: hubl("$first_color");
        overflow: hidden;
        .flex-circle{
            .row-fluid{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                
            }
        } 

            .row-fluid [class*="span"] {
                 @media (max-width: 967px){
                    display: block;
                    float: none;
                    width: auto;
                    margin-left: 0;
                    
                }
            }
        h2 {
            margin: 30px 0px 50px 0px;
            color: #fff;
            font-size: 40px;
            font-weight: 300;
            text-transform: none;
            letter-spacing: 0.04em;
            span{
                letter-spacing: 3px;
                color:#fff;
            }
        }
        .loading-circle{
            margin: 0 20px;
            .circle {
            	margin: 0 auto;
                display: block;
                width: 200px;
                height: 200px;
                background-color: hubl("$first_color");
                svg {
                    margin: -20%;
                }
                .timer tspan {
                    font-family: hubl("$font");
                }
            }
        }
        h3 {
            color: #fff;
            font-weight: normal;
            font-size: 25px;
            margin: 35px 0px 55px 0px;
            text-align: center;
        }
        .loader4,
        .loader3,
        .loader2,
        .loader1 {
            max-width: 200px;
            height: auto;
        }
    }

    .features{

        h2{
            color: hubl("$main_font_color");
            font-size: 40px;
            font-weight: 300;
            letter-spacing: 0.04em;
            text-transform: none;
            span{
                letter-spacing: 3px;
            }
        }
        .icon{
            color: hubl("$cta_background");
        }
    }
    .testimonials{
        position: relative;
        background-position: center center;
        background-size: cover;
        z-index: 0;
        .mask{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
        }
        .container{
            z-index: 3;
            position: relative;

            h2{
                color: #fff;
                font-size: 36px;
                font-weight: 500;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                span{
                    color: #fff;
                    letter-spacing: 3px;

                }
                @media (max-width : 467px) {
                    margin-top: 60px;
                }
                @media (max-width : 400px) {
                    margin-top: 30px;
                }
            }
            p{
                font-size: 16px;
                line-height: 24px;
            }
            .person{
                font-size: 20px;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 0.04em;
                span{
                    color: hubl("$cta_background");
                }
            }
            .slick-dots{
                bottom: -45px;
                li{
                    button{
                        &:before{
                            color: hubl("$cta_background");
                        }
                    }
                }
            }
       
        }
        
    }
}




 // fix flex for safari - section circle 
    @media only screen and (min-width : 970px) {
        _::-webkit-full-page-media, _:future, :root .homepage .flex-circle .row-fluid .span3 {

              width: 23%;

            }
    }
    // 












