.privacy-policy {
	.two-column-left-content {
		h2 {
			font-size: 40px;
		    color: hubl("$main_font_color");
		    text-align: left;
		    text-transform: none;
		    font-weight: 300;
		    margin-top: 10px;
		    margin-bottom: 0;
			span {
				letter-spacing: 3px;
			}
		}
		ol {
			li {
				text-align: justify;
				margin-bottom: 10px;
				&:before {
					top: 0;
					transform: none;
					width: 20px;
				}
			}
		}
	}
	.right-sidebar {
		p {
			text-align: justify;
		}
	}
	&.privacy-policy-1-column {
		.two-column-left-content {
			border-right: none;
		}
	}
}