.product-page-listing-v2-website{
	background-color: #fafafa;
	
	
	.hero-banner{
		margin-bottom: 0px;
	}

	// -----------
	.listing-wrapper{
		.view{
			margin-left: 26px;
			margin-top: 28px;
			li{
				margin-bottom: 35px!important;
			}
		}
		//background-color: #ccc;
		padding-bottom: 50px;

		.single-box-listing {
			//background-color: red;
			float: left;
			width: 100%;
			margin-top: 0px!important;
			margin-bottom: 60px;
			.featured-image{
				img{
					height: auto;
				}
			}
		}
		.listing-pagination{
			margin-top: 0px;
		}
		&.tiles{
			.single-box-listing {
				margin-bottom: 40px!important;
				&:nth-child(even){
					margin-left: 30px!important;
					@media screen and (max-width:767px){ 
						margin-left: 0px!important;
					}
				}
			}
		}
	}
}
