




//--------------SLICK RESOURCES STYLES-------------
.resources-slides-wrapper {
	margin-top: 0px;
	height: 500px;
	overflow: hidden;
	.slick-slider {
		margin-bottom: 0;
	}
	button.slick-next, button.slick-prev {
		margin-top: 0;
	}
	.slick-arrow{
		@media screen and (max-width: 767px) {
		        top: 50%;
		}
	}


	.slick-dots{
        bottom: 20px;
        li{
            button{
                &:before{
                    font-size: 0px;
                    line-height: 0px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    content: '';
                    display: block;
                    width:8px;
                    height: 8px;
                    text-align: center;
                    border-radius:50%;
                    opacity: 1;
                    background: hubl("$cta_background");
                }
            }
        }
        li.slick-active{
            button{
                &:before{
                    opacity:1;
                    background: #fff;
                }
            }
        }

    }

}

//--------------RESOURCES PAGE STYLES-------------
.resources {
	.separator--yellow {
		.widget-type-cta {
			.cta_button {
				float: right;
			}
		}
	}
	.separator--contact {
		background-size:cover;
		.widget-type-cta {
			text-align: center;
			.cta_button {
				margin: 0 auto;
			}
		}
	}
}