body.search-results{
	overflow:auto;
	.hero-banner{
		margin-bottom:0px;
		@media (max-width:780px){
			display:none;
		}
	}
	.search-results-wrapper{
		background-color:#fafafa;
		float:left;
		width:100%;
		@media (max-width:780px){
			margin-top:70px;
			.container{
				padding:0;
			}
		}
	}
}
.search-summary{
	h2{
		font-size:40px;
		font-weight:400;
		margin:50px 0;
		text-transform:none;
	}
}
.search-results-page{
	background-color: #fff;
	font-family:hubl("$font");
	.gsc-results-wrapper-overlay{
		position:static!important;
		opacity:1;
		width:100%;
		height:auto;
		overflow:hidden!important;
		visibility:visible;
		box-shadow:none;
		padding:15px!important;
	}
	.gsc-webResult.gsc-result{
		border-top:1px solid #fafafa;
	}
	.gsc-modal-background-image{
		display:none!important;
	}
	.gsc-above-wrapper-area-container{
		display:none;
	}
	.gsc-results .gsc-cursor-box{
		margin:0;
	}
	.gsc-thumbnail-inside{
		padding-left:0px;
		.gs-title{
			font-size:20px!important;
			color:hubl("$main_font_color")!important;
			line-height:26px;
			height:auto!important;
			margin-bottom:6px;
			font-weight:400;
			text-decoration:none;
			b{
				font-size:20px!important;
				color:hubl("$main_font_color")!important;
				line-height:26px;
				font-weight:400;
				text-decoration:none;
			}
		}
	}
	.gsc-url-top{
		padding-left:0px;
		.gs-visibleUrl{
			font-size:16px!important;
			color:#999999!important;
			line-height:20px;
			height:auto!important;
			font-weight:300;
			margin-bottom:2px;
			text-decoration:none;
			b{
				font-size:16px!important;
				color:#999999!important;
				line-height:20px;
				font-weight:300;
				text-decoration:none;
			}
		}
	}
	.gsc-table-result{
		padding-left:0px;
		.gs-bidi-start-align{
			font-size:16px!important;
			color:hubl("$main_font_color")!important;
			line-height:20px;
			height:auto!important;
			font-weight:300;
			margin-bottom:2px;
			text-decoration:none;
			b{
				font-size:16px!important;
				color:hubl("$main_font_color")!important;
				line-height:20px;
				font-weight:300;
				text-decoration:none;
			}
		}
	}
	.gsc-cursor-box{
		.gsc-cursor-page{
			background-color:#fff!important;
			display:inline-block!important;
			font-size:16px;
			font-weight:400;
			color:hubl("$main_font_color")!important;
			border:1px solid #626262!important;
			text-align:center;
			border-radius:5px;
			width:25px;
			height:27px;
			&.gsc-cursor-current-page{
				color:#fff!important;
				font-weight:400!important;
				border-color:hubl("$cta_background")!important;
				background-color:hubl("$cta_background")!important;
			}
		}
	}
}