.services-page{
	.hero-banner{
		margin-top: 0px;
		h1{
			margin-top: 70px;
		}
	}
} 
.services-main{
	height: 800px;
	background-size: cover;
	background-position: center;
    background-attachment: fixed;
    position: relative;
}
	.services-main h1{
		margin-top: 360px;
		font-size: 58px;
		font-weight: bold;
	}
	.services-main p{
		margin-top: 20px;
		letter-spacing: 0em;
	}
.process{
	padding-bottom: 95px;
}
	.process h2{
	    text-transform: none;
	    font-weight: 200;
	    margin-bottom: 45px;
	    letter-spacing: 0em;
	    span{
	    	letter-spacing: 3px;
	    }
	}
    .process-line{
	background-image: url('//cdn2.hubspot.net/hubfs/4078373/PAGES/Services/proces-line-orange_10.png');
	    width: 73%;
	    height: 1px;
	    position: relative;
	    top: 54px;
	    z-index: -1;
	    margin: auto;
	    @media(max-width: 768px){
	    	display: none;
	    }
    }
    .process-box .widget-type-linked_image {
    text-align: center;
	}
	.process h3{
		margin-left: 20px;
		font-size: 23px;
		font-weight: 400;
		color: hubl("$cta_background");
	}
	.process h3 span{
		font-size: 47px;
	}
	.process p{
		margin-left: 57px;
	}
	.expertise{
	position: relative;
	background-color: hubl("$first_color");
}
.expertise .change-display > .row-fluid-wrapper > .row-fluid{
    display: -webkit-box;
    display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.expertise .span5{
    // width: 39.5%;
	background-size: cover;
	@media (max-width:1000px){
		
		 display:none;
	}
	@media (max-width:767px){
		display:none;
	}
}
.expertise .span7{
	@media (max-width:1000px){
		 width:100%;
		 margin-left: 0px;
		 padding-left: 15px;
	}
}
.expertise-box-wrapper{
	@media (max-width:468px){
		padding: 0 25px;
	}
}
.expertise .span7{
	.expertise-right-wrapper{
	    max-width: 800px;
	    width: 100%;
	    @media (max-width:1000px){
		 max-width:100%;
		 padding-right: 15px;
	}
	}
	.expertise-left-wrapper{
	    max-width: 800px;
	    width: 100%;
	    margin-left: auto;
	    margin-right: 0px;
	    float: none;
	    padding-left: 15px;
	     @media (max-width:1000px){
		 max-width:100%;
		 padding-left: 0px;
		 padding-right: 15px;
	}
	}
}
	.expertise h2{
	    margin-top: 60px;
	    margin-bottom: 50px;
	    font-size: 40px;
	    font-weight: 200;
	    color: #fff;
	    text-transform:none;
	    letter-spacing: 0em;
   	    span{
   	    	color:#fff;
	    	letter-spacing: 3px;
	    }

	}
.expertise .col-sm-4{
	position: relative;
}
.flex{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.expertise .ico{
	    // width: 60px;
	    min-width: 100px;
    margin-bottom: 25px;
    text-align: center;
}
	.expertise .ico i{
		font-size: 42px;
		color:#fff;
	}

	.expertise .text h3{
		font-size: 23px;
		font-weight: 400;
		margin-bottom: 10px;
		color: #fff;
        margin-top: 0px;
letter-spacing: 0px;
	}
		.expertise .text p{
			font-weight: normal;
			color: #fff;
			font-size: 18px;
margin-bottom: 60px;
    letter-spacing: 0px;
    font-weight: 400;
		}

// expertis-white

.expertise.white {
	background:#fff;
	h2{
		color: hubl("$main_font_color");
		span{
			color: hubl("$first_color");
		}
		
	}
	.ico i{
		color: hubl("$first_color");
	}
	.content.text{
		p,h3{
			color: hubl("$main_font_color");
		}
	} 
}



// 


		#counter{
	background-size: cover;
	background-position: center;
}
#counter{
	.container{
		display: flex;
	    align-items: center;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: space-around;
	    align-content: initial;
	        padding-top: 30px;
		.counter-box{
			padding-bottom:40px;
			width:25%;
		}
	}
}

@media screen and (max-width:767px){
	#counter{
	.container{
		.counter-box{
			
			width:50%;
		}
	}
	}

}
@media screen and (max-width:450px){
	#counter{
	.container{
		.counter-box{
			
			width:100%;
		}
	}
	}

}

	#counter .counter-box{
		text-align: center;
	}

	#counter .counter-box h3{
		font-size: 20px;
		color: hubl("$cta_background");
		margin: 10px 0px;
	}
	#counter .counter-box div{
		font-size: 73px;
		color:#fff;
		line-height: 42px;
	}

.services-page{
		.pricing-main-section h2{
		    text-transform: none;
		    font-weight: 200;
		    margin-bottom: 45px;
		    padding-top:60px;
		    letter-spacing: 0.04em;
		    span{
		    	letter-spacing: 3px;
		    }
	}
	.pricing-box__container .widget-span .hs_cos_wrapper_widget_container{
		padding:50px 0 150px;
	}	
	.separator-main {
		background-color: hubl("$first_color");

		.txt-cta-separator {
			min-height: 110px;
			.separator-content {	
				padding: 20px 0;
				h3 {
					color: #fff;
				}
				a.cta_button {
					border-color:#fff;
				}		
			}
			
		}		
	}

	#counter{
		height: auto;
		padding-top: 56px;
		padding-bottom: 33px;
		display: flex;
		align-items:center;
		position: relative;
		.mask{
			background-color: rgba(0,0,0, 0.25);
			z-index: 2;
		}
		.container{
			display: block;
			padding-top: 0px;
			width: 100%;
			z-index: 3;
			.row-fluid{
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap:wrap;
				.counter-box{
					width: 24.5%; // safari
					margin: 0;
					@media(max-width: 767px) {
		            	width: 49.5%; // safari
		        	}
		        	@media(max-width: 486px) {
		            	width: 100%;
		            	margin: 10px 0px;
		        	}
		        	h3{
		        		text-transform: uppercase;
		        		font-size: 20px;
		        	}
				}
			}
		}
	}
	.brands-slider-wrap{
		min-height: 315px;
		background-color: #fff;
		h2{
			letter-spacing: 0.04em;
			color: #626262;
			font-size: 36px;
			font-weight: 300;
			text-transform: none;
			margin-top: 63px;
			margin-bottom: 0;
			span{
				letter-spacing: 3px;
			}
		}
		.slick-dots{
            display: block;
            left:0;
            li{
            	button{
            		&:before{
            			color: hubl("$cta_background");
            			opacity: 1;
            		}
            	}
            }
            .slick-active{
            	button{
            		&:before{
            			color: hubl("$main_font_color");
            		}
            	}
            }

        }
        
        .slick-list{
            min-width: 100% !important;
            display:flex;
            justify-content:center;
            margin: 0!important;
            
        }
        .slick-arrow{
            display:none!important;
        }
        button.slick-prev.slick-arrow + div.slick-list{
            display:block;
        }
	}
}






