html {
    body {
        .subscription-pages {
            .page-header {
                margin-bottom: 60px;
            }
            .hs-input {
                max-width: 100%;
            }
        }
        .row-fluid {
            .subscription-pages {
                // margin: 160px 0 150px;
            }
            .subscription-preferences {
                margin: 160px 0 150px;
            }
            .backup-unsubscribe {
                margin: 100px 0 150px;
            }
            .subscriptions-update {
                margin: 200px 0 150px;
            }
        }
    }
}

.subscription-preferences {
    .email-prefs .item .item-inner p {
        text-align: left;
    }
    &.widget-type-email_subscriptions h1 {
        font-size: 42px;
        color: hubl("$main_font_color");
        font-weight: 600;
        margin-bottom: 15px;
        text-transform: initial;
        letter-spacing: 0.04em;
        line-height: 1;
        @media (max-width: 767px) {
            font-size: 32px;
        }
    }
    &.widget-type-email_subscriptions h2 {
        font-size: 22px;
        line-height: 25px;
        color: hubl("$main_font_color");
        font-weight: 300;
        margin: 0;
    }
    &.widget-type-email_subscriptions p {
        text-align: left;
        font-size: 16px;
        line-height: 25px;
        color: hubl("$main_font_color");
        font-weight: 300;
        margin-bottom: 0;
        text-align: center;
    }
    &.widget-type-email_subscriptions p.header {
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: hubl("$main_font_color");
    }
    .email-prefs {
        // display: none;
        .item:first-child {
            margin-top: 0;
        }
        input[type="checkbox"] {
            position: absolute;
            height: 100%;
            width: 100%;
            /* 35px */
            top: -6px;
            margin-right: 3px;
            visibility: visible;
            opacity: 0;
            z-index: 2;
            +span {
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -1px;
                    display: block;
                    width: 14px;
                    height: 14px;
                    font-family: "FontAwesome";
                    background-color: #fff;
                    border-radius: 5px;
                    visibility: hidden;
                }
                &:after {
                    content: "\f096";
                    position: absolute;
                    top: 19px;
                    left: 15px;
                    display: block;
                    color: #e0e0e0;
                    width: 16px;
                    height: 20px;
                    font-family: "FontAwesome";
                }
            }
            &:checked {
                +span {
                    &:after {
                        content: "\f14a";
                        color: hubl("$first_color");
                    }
                }
            }
        }
        .checkbox-row span.fakelabel span {
            margin-left: 20px;
        }
    }
    #submitbutton {
        background-color: hubl("$cta_background");
        border: 2px solid hubl("$cta_background");
        color: hubl("$cta_color");
        font-size: 18px;
        font-weight: normal;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 3px;
        border-radius: 27px;
        cursor: pointer;
        margin-top: 30px;
        transition: all .3s linear;
        -webkit-appearance: none;
        display: block;
        margin: 50px auto 0;
        white-space: normal;
    }
    #submitbutton:hover {
        background-color: hubl("$cta_hover_background");
        border: 2px solid hubl("$cta_background");
        color: hubl("$cta_hover_color");
        -webkit-appearance: none;
    }
    #submitbutton:active {
        outline: none;
        text-decoration: none;
        transition: all 0.3s linear;
    }
    .subscribe-options {
        label {
            position: relative;
        }
    }
    #globalunsub {
        visibility: visible;
        height: 15px;
        top: -1px;
        +span {
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: -1px;
                display: block;
                width: 14px;
                height: 14px;
                font-family: "FontAwesome";
                background-color: #fff;
                border-radius: 5px;
                visibility: hidden;
            }
            &:after {
                content: "\f096";
                position: absolute;
                top: 0px;
                left: -15px;
                display: block;
                color: #e0e0e0;
                width: 16px;
                height: 20px;
                font-family: "FontAwesome";
            }
        }
        &:checked {
            +span {
                &:after {
                    content: "\f14a";
                    color: hubl("$first_color");
                }
            }
        }
    }
    .checkbox-row span.fakelabel span {
        margin-left: 20px;
    }
}

.backup-unsubscribe {
    text-align: center;
    .subscription-pages {
        .page-header {
            margin-bottom: 0;
        }
    }
    &.widget-type-email_subscriptions h3 {
        font-size: 42px;
        color: hubl("$main_font_color");
        font-weight: 600;
        margin-bottom: 15px;
        text-transform: initial;
        letter-spacing: 0.04em;
        color: hubl("$main_font_color");
    }
    #submitbutton {
        display: block;
        background-color: hubl("$cta_background");
        border: 2px solid hubl("$cta_background");
        color: hubl("$cta_color");
        font-size: 18px;
        font-weight: normal;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 27px;
        cursor: pointer;
        margin-top: 30px;
        transition: all .3s linear;
        margin: 50px auto 0;
    }
    #submitbutton:hover {
        background-color: hubl("$cta_hover_background");
        border: 2px solid hubl("$cta_hover_color");
        color: hubl("$cta_hover_color");
        -webkit-appearance: none;
    }
    #submitbutton:active {
        outline: none;
        text-decoration: none;
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
}

.subscriptions-update.widget-type-email_subscriptions_confirmation {
    text-align: center;
    .page-header h2 {
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 15px;
        text-transform: initial;
        letter-spacing: 0.04em;
        color: hubl("$main_font_color");
        @media (max-width: 767px) {
            font-size: 22px;
            word-break: break-all;
        }
    }
    p {
        font-size: 18px;
        margin: 0px;
        padding: 0px;
        outline: none;
        font-size: 18px;
        font-weight: 200;
        font-family: hubl("$font");
    }
    #content {
        font-size: 20px;
    }
}