.careers-main-listing-website {
	.hero-banner{
		margin-bottom: 70px;
		.hero-banner-wrap{
			margin-top: -30px;
		}
	}
    .listing-blog-careers {
        margin: 80px 0;
        display: flex;
        flex-wrap: wrap;
    }
    h2{
    	letter-spacing: .04em;
    	span{
    		letter-spacing: 3px;
    	}
    }


   
}
