.va-ourlocations-wrapper {
    padding-top: 50px;
	margin-bottom: 58px;
    .widget-type-form .form-title,
    h3 {
        margin-top: 0px;
        text-transform: none;
        color: hubl("$main_font_color");
        font-size: 31px;
        font-weight: 400;
        margin-bottom: 25px;
    }
	h5{
		font-size: 20px;
		margin-top: 35px;
		margin-bottom: 25px;
	}


	.social-wrapper{
		padding-top: 20px;
		ul{
			display: block;
			list-style: none;
			li{
				display: inline-block;
				margin-right: 5px;
				margin-bottom: 5px;
				&:last-child{
					margin-right: 0px;
				}
				a{	
					width: 44px;
					height: 44px;
					display: block;
					border: 1px solid hubl("$first_color");
					line-height: 44px;
					text-align: center;
					background-color:  hubl("$first_color");
					border-radius: 50%;
					transition: 0.3s all;
					i{
						color: #fff;
						transition: 0.3s color;
					}
					&:hover{
						background-color: #fff;
						i{
							color:  hubl("$first_color");
						}

					}
				}
			}
		}
	}

    .widget-type-form form {
        input.hs-input,
        textarea,
        select {
            border: 1px solid #d6d5d5;
            color: hubl("$main_font_color");
            min-height: 52px;
            border-radius: 4px;
            padding-left: 29px;
        }
        textarea {
            min-height: 160px;
            padding-top: 25px;
            margin-top: 0px;
        }
        input[type="submit"]{
        	min-height: 55px;
        	min-width: 165px;
        }
        .hs-error-msgs {
            list-style: none;
            padding-left: 0;
            margin: 0px 0px 10px 0px;

            li {
                padding-left: 0;
                margin-bottom: 0;
                margin-left: 0px;
                &:first-child {
                    margin-left: 0px;
                }

                a,
                label {
                    color: hubl("$main_font_color");
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }
}