
.va-ourlocations {
  span {
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    // > div {
    //   flex-basis: calc(25% - 20px);
    //   @media (max-width: 767px) {
    //     flex-basis: 100%;
    //   }
    // }
  }
  .va-ourlocation-single {
    margin-bottom: 30px;
    @media (max-width: 767px) {
      margin-bottom: 45px;
    }
    h6 {
      font-size: 18px;
      line-height: 24px;
      color: hubl("$main_font_color");
      margin: 0;
      margin-bottom: 0px;
      font-weight: 600;
      cursor: pointer;
      display: inline-block;
      transition: all 0.3s linear;
      @media (max-width: 767px) {
        margin-bottom: 25px;
      }
      i{
        color: hubl("$first_color");
        padding-right: 5px;
      }
    }
    h6:hover {
      color: hubl("$main_font_color");
    }
    p {
      font-size: 16px;
      line-height: 24px;
      color: hubl("$main_font_color");
      margin: 0;
    }
  }
}