section.expertise{
	section.expertise-box-wrapper{
		>.span12{
			>.hs_cos_wrapper_widget_container{
				display:flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items:center;
				>div{
					width:49%;
					
					.expertise-box{
						display:flex;
						.ico{
							padding: 0px 25px 0px 0px;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width:768px){
	section.expertise{
		.span7{
			width:100%;
		}
		section.expertise-box-wrapper{
			>.span12{
				width:100%;
				>.hs_cos_wrapper_widget_container{
					flex-direction: column;
					width:100%;
					>div{
						width:100%;
						.expertise-box{
							display:flex;
							max-width:320px;
							text-align:left;
							margin:auto;
							.ico{
								padding: 0px 25px 0px 0px;
							}
						}
					}
				}
			}
		}
	}

}