.hero-banner-recent-post{
    width: 100%;
    min-height: 355px;
    padding-top: 70px;
    background-position: center center!important;
    background-size: cover!important;
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
        
    .mask{
        position: absolute;
        top:0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0, .36);
    }
    .content{
        position: relative;
        z-index: 2;
        text-align: center;
        width: 95%;
        margin-top: 0px;
        @media only screen and (max-width : 985px) {
            margin-top: 0px;
            padding: 30px 0px;
        }
        h1{
            color: #fff;
            font-size: 44px;
            font-weight: 400;
            text-transform: uppercase;
            display: block;
            width: 60%;
            margin: 0 auto;
            // background-color: red;
            @media only screen and (max-width : 1451px) {
                width: 70%;  
            }
            @media only screen and (max-width : 1425px) {
                width: 95%;  
            }
            span{
                color: hubl("$cta_background");
            }
            @media only screen and (max-width : 486px) {
            
                font-size: 34px;
                
            }
            
        }
        .post-details{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 35px;
            @media only screen and (max-width : 486px) {
                margin-top: 20px;   
                // flex-direction: column;
            }
            .avatar{
                display: block;
                width: 58px;
                height: 58px;
                border-radius: 50%;
                margin-right: 10px;
                @media only screen and (max-width : 430px) {
                    display: none;
                    // flex-direction: column;
                }

            }
            p{
                display: block;
                font-size: 16px;
                color:#fff;
                font-weight: 200;
                span{
                    font-weight: 400;
                    color: hubl("$cta_background");
                }
            }         
        }
    }
}





