.iphone-column {
	position: relative;
}

.iphone-mocup {
	position: absolute;
	bottom: -90px;
	left: 0;

	&__phone {
		max-width: none;
	}

	&__screen {
		position: absolute;
		overflow: hidden;
		top: 73px;
		left: 186px;
		width: 180px;
		height: 320px;

		img {
			width: 100%;
		}
	}
}


@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.iphone-mocup {
		left: -50px;
		transform: scale(.9);
		transform-origin: bottom;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .iphone-mocup {
		display: none;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}