// .latest-posts-nav {
//     &.portfolio-menu-wraper {
//         .multi-blog {
//             .topic-icon {
//                 a {
//                     padding-left: 25px;
//                     padding-right: 25px;
//                     text-align: center;
//                 }
//             }
//         }
//     }
// }