    ul.filters {
        li {
            display: inline-block;
            margin-top: 38px;
            margin-right: 0px;
            a {
                padding: 2px 10px;
                color: hubl("$main_font_color");
                border-radius: 4px;
                font-size: 20px;
                text-transform: uppercase;
                &:hover {
                    background-color: hubl("$cta_background");
                    color: hubl("$cta_color");
                    border-radius: 4px;
                }
                &.active {
                    background-color: hubl("$cta_background");
                    color: hubl("$cta_color");
                    border-radius: 4px;
                    padding: 2px 19px;
                }
            }
        }
    }
