.text-and-image-overflow {
	padding-top: 30px;
	.container-fluid {
		display: flex;
		.text-wrapper {
			width: 50%;
			.text-content {
				max-width: 590px;
				padding: 15px;
				h2 {
					text-align: left;
					text-transform: none;
					font-size: 40px;
					font-weight: 200;
					color: hubl("$main_font_color");
					span {
						color: hubl("$cta_background");
						letter-spacing: 3px;
					}
				}
				p {
					font-size: 16px;
					color: hubl("$main_font_color");
				}
			}
		}
		.image-wrapper {
			width: 50%;
			img {
				max-width: 650px;
				//height: auto;
				width: 100%;
			}
		}
		@media (max-width: 767px) {
			flex-direction: column;
			.text-wrapper {
				width: 100%;
				padding-bottom: 30px;
				.text-content {
					float: none !important;
					margin: 0 auto;
				}
			}
			.image-wrapper {
				width: 100%;
				margin: 0 !important;
				padding-left: 0 !important;
				padding-right: 0 !important;
				
				img {
					float: none !important;
					margin: 20px auto 0;
					display: block;
				}
			}
		}
	}
}